services:
  kestra_local:
    image: kestra/kestra:latest
    ports:
      - "8080:8080"
    user: "root"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
      - ./data-ingestion:/app/data-ingestion
      - ./orchestration/storage:/app/storage
      - ./orchestration/data:/app/data
    command: server local
    restart: unless-stopped
