services:
  kestra_local:
    image: custom-kestra:latest
    ports:
      - "8080:8080"
    user: "root"
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/dataplatform-lab-internal-v1-tf-service-account.json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
      - ./orchestration/storage:/app/storage
      - ./orchestration/data:/app/data
      - ${SECRET_PATH}:/workspace/.secret_keys:ro
      - ./.secrets/dataplatform-lab-internal-v1-tf-service-account.json:/app/secrets/dataplatform-lab-internal-v1-tf-service-account.json
    command: server local
    restart: unless-stopped

  terraform:
    image: hashicorp/terraform:latest
    working_dir: /workspace/infrastructure
    volumes:
      - ./infrastructure:/workspace/infrastructure
      - ${SECRET_PATH}:/workspace/.secret_keys:ro
    entrypoint: /bin/sh
    tty: true